.FileUploader {
  background-color: #fff;
  padding: 10px;
}

.fileInfoBlock {
  margin-top: 0.6rem;
  padding: 0.4rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  cursor: pointer;
}

.title {
  margin-top: 5px;
  color: rgb(72, 105, 34);
}
